<div class="container-fluid">

  <div class="payment-info">
    <!-- panel preview -->
    <div>
      <ul class="contact-list">
        <li class="heading">
          CONTACT US
        </li>
      </ul>
      <div class="panel panel-default">
        <div class="panel-body form-horizontal payment-form">
          <div class="form-group">
            <label for="fname" class="col-sm-3 control-label">First Name</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="concept" name="fname">
            </div>
          </div>
          <div class="form-group">
            <label for="lname" class="col-sm-3 control-label">Last Name</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="description" name="lname">
            </div>
          </div>
          <div class="form-group">
            <label for="houseNu" class="col-sm-3 control-label">House Number</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="street" name="houseNu">
            </div>
          </div>
          <div class="form-group">
            <label for="street" class="col-sm-3 control-label">Street</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="street" name="street">
            </div>
          </div>
          <div class="form-group">
            <label for="locality" class="col-sm-3 control-label">Locality</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="locality" name="locality">
            </div>
          </div>
          <div class="form-group">
            <label for="pin" class="col-sm-3 control-label">Pin</label>
            <div class="col-sm-9">
              <input type="number" class="form-control" id="pin" name="pin">
            </div>
          </div>
        </div>
      </div>
    </div> <!-- / panel preview -->
    <!-- price tag info -->
    <div>
      <div class=" text-right">
        <ul class="contact-list">
          <li class="heading">
            Total: 350 <i class="fas fa-rupee-sign"></i>
          </li>
        </ul>
      </div>
      <div class="">
        <hr style="border:1px dashed #dddddd;">
        <button type="button" class="btn btn-primary btn-block">Submit all and finish</button>
      </div>
    </div>
  </div>
</div>