.container-fluid {
  padding: 1rem;
}

.payment-info {
  display: grid;
  grid-template-columns: 1fr;
  padding: 1rem;
  width: 70%;
  margin: 0 auto;

  .group-field-container {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    justify-content: space-evenly;

    .group-field {
      width: 25% ;
    }
  
  }

  .single-field-container{
    width: 69%;
    margin: 0 auto;
    padding: 1rem;
  }

  .sub {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1rem;
    .pay-btn {
      width: 20%;
    }
  }

}