@import "./../../styles/crunch-styles.scss";

.border-radius-3 {
  border-radius: 15px;
}

.weight-calc {
  display: flex;
  justify-content: space-between;
}

.grams {
  font-weight: 400px;
  font-size: 16px;
}
