@import "./../../styles/crunch-styles.scss";

.suggestion-container {
  padding-top: 2rem;
  width: 80%;
  margin: auto;
  .suggestion-title {
    padding-bottom: 2rem;
  }
}

@media (max-width: 700px) {
  .suggestion-container {
    width: 100%;
  }
}

.border-radius-3 {
  border-radius: 15px;
}

.weight-calc {
  display: flex;
  justify-content: space-between;
}

.grams {
  font-weight: 400px;
  font-size: 16px;
}
