<div class="cart-screen" [ngClass]="{
    'display-block': setCart,
    'display-none': !setCart
  }" (click)="onClose()"></div>

<div class="li-cart-summary-wrapper" [ngClass]="{ show: setCart }">
  <div class="row p-4">
    <div class="col-md-6 col-sm-6 col-xs-6">
      <h4>Order Summary</h4>
      <span>Message is: {{ messageFromSibling }}</span>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6 text-right">
      <i class="fas fa-close cursor-pointer" (click)="onClose()"></i>
    </div>
  </div>
  <div class="crunch-box ml-2 mr-2">
    <p class="carts-length">You have {{ carts$.length }} items in cart</p>
    <div class="cart-list-container">
      <div class="row cart-item" *ngFor="let item of carts$; let index = index">
        <div class="col-md-8 col-sm-8 col-xs-8">
          <label class="pb-2 heading">{{ item.name }}</label>
          <div class="pb-2">
            <span class="pr-4">
              <label>Weight:</label> {{ item.weight }} grams
            </span>
            <span class="cart-rate">
              <label>Price: <i class="fas fa-rupee-sign"></i></label>
              {{ item.price }}
            </span>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4">
          <div class="item-close pb-3 text-right">
            <i
              class="fas fa-close cursor-pointer"
              (click)="removeCartItem(index)"
            ></i>
          </div>
          <div class="weight-cacl pb-2 text-right pt-2">
            <i
              class="fas fa-minus-square cursor-pointer"
              (click)="updateWeight(item, 'minus', inde)"
            ></i>
            <span> 50 grams </span>
            <i
              class="fas fa-plus-square cursor-pointer"
              (click)="updateWeight(item, 'plus', index)"
            ></i>
          </div>
        </div>
      </div>
      <div class="row p-3" *ngIf="carts$.length; else emptyCart">
        <div class="col-md-5">
          <span class="rate">
            <label>Total: <i class="fas fa-rupee-sign"></i></label>
            {{ totalPrice }}
          </span>
          <div class="delivery-charges-container">
            <span>
              <label>Delivery Charges: <i class="fas fa-rupee-sign"></i></label>
              {{ deliveryCharges }}
            </span>
          </div>
        </div>
        <div class="col-md-7 pt-3">
          <button class="primary-btn" (click)="checkout()">Proceed to checkout</button>
        </div>
        <div class="col-md-12">
          <span>Delivery charges are applicable if total amount is < 500 </span>
        </div>
      </div>
      <div class="row">
        <ng-template #emptyCart>
          <p class="empty-cart ml-2">Please add some items to Cart</p>
        </ng-template>
      </div>
    </div>
  </div>
</div>