<div class="container-fluid">
  <hr>
  <h4 class="heading text-center">CrunchyFy</h4>
  <br>
  <section class="footer">
    <!-- links -->
    <div class="usefull-link">
      <ul>
        <li class="heading">
          useful Links
        </li>
        <li>
          <a href="/about-us" target="_blank" data-eventlabel="Useful Links - Why Licious">
            Why Crunchyfy?
          </a>
        </li>
        <li>
          <a href="http://blog.licious.in" target="_blank" data-eventlabel="Useful Links - Blog">
            BLOG
          </a>
        </li>
        <li>
          <a href="/about-us-new" target="_blank" data-eventlabel="About-us-new ">
            About Us
          </a>
        </li>
      </ul>
    </div>
    <!-- contact -->
    <div class="contact-us">
      <ul class="contact-list">
        <li class="heading">
          CONTACT US
        </li>
        <li>
          <a href="">Call: 1800-4190-786</a>
        </li>
        <li>
          <a href="mailto:talktous@crunchyfy.com#">
            Talktous@crunchyfy.com
          </a>
        </li>
        <li class="heading addr">
          REGISTERED OFFICE ADDRESS:
        </li>
        <li>
          <a href="">
            3rd Floor, 100 Feet Road, HAL 2nd Stage, Indiranagar, Bengaluru, Karnataka 560038
          </a>
        </li>
      </ul>
    </div>
    <!-- terms and condition -->
    <div class="tnc">
      <ul class="essential-list">
        <li>
          <a href="/terms" target="_blank" data-eventlabel="Contact us - T&amp;C">
            T&amp;C
          </a>
        </li>
        <li>
          <a href="/faq" target="_blank" data-eventlabel="Contact us - FAQ">
            FAQ
          </a>
        </li>
        <li>
          <a href="/privacy-policy" target="_blank" data-eventlabel="Contact us - Privacy Policy">
            Privacy Policy
          </a>
        </li>
        <li class="heading addr">
          HAVE SECURITY CONCERN?
        </li>
        <li>
          <a href="">Mail us to: security@crunchyfy.com</a>
        </li>
      </ul>
    </div>
    <!-- social media -->
    <div class="social-media">
      <div class="keep-in-touch">
        <ul>
          <li class="heading addr text-center">
            Keep in touch
          </li>
        </ul>
        <div class="social-icon">
          <a href="https://www.instagram.com/licious_foods/" target="_blank" data-eventlabel="Keep in touch - Instagram">
            <img src="https://d2407na1z3fc0t.cloudfront.net/Banner/insta_color.png" alt="">
          </a>
          <a href="https://www.facebook.com/LiciousFoods/" target="_blank" data-eventlabel="Keep in touch - Facebook">
            <img src="https://d2407na1z3fc0t.cloudfront.net/Banner/fb_color.png" alt="">
          </a>
          <a href="https://twitter.com/LiciousFoods" target="_blank" data-eventlabel="Keep in touch - Twitter">
            <img src="https://d2407na1z3fc0t.cloudfront.net/Banner/twitter_color.png" alt="">
          </a>
        </div>
      </div>
    </div>
  </section>
</div>