<div class="container-fluid">
  <!-- location and cart strip/content -->
  <section class="location-area">
    <div class="logo">
      <i name="cog" class="fa fa-list menu-icon" animation="spin">&nbsp;</i>
      <h4>CrunchyFry</h4>
      <a class="cart-btn mobile-crt" href="">cart</a>
    </div>
    <div class="location-info">
      <span class="span-text">availablity in</span>
      <span class="span-text"> <i class="fas fa-map-marker-alt"></i> Bangalore</span>
      <span class="span-text"><i class="fas fa-chevron-circle-down"></i></span>
    </div>
    <div class="cart-content">
      <a class="cart-btn big-screen-crt" href="">cart</a>
    </div>
  </section>
  <!-- menu -->
  <section class="menu">
    <ul>
      <li><a href="#">menu</a></li>
      <li><a href="#">menu</a></li>
      <li><a href="#">menu</a></li>
      <li><a href="#">menu</a></li>
    </ul>
  </section>
</div>