<div class="container-fluid pb-0">
  <!-- location and cart strip/content -->
  <section class="location-area">
    <div class="logo">
      <i name="cog" class="fa fa-list menu-icon" animation="spin">&nbsp;</i>
      <div class="logo-cuctom">
        <h4 class="heading logo-front" (click)="goToHome()">Crunchy</h4>
        <h4 class="heading logo-color">Fy</h4>
      </div>

      <div>
        <a class="cart-btn mobile-crt" (click)="showCart()"
          ><i class="fas fa-shopping-cart"></i
        ></a>
      </div>
    </div>
    <div class="location-info">
      <span class="span-text-bold">availablity in</span>
      <span class="span-text-bold span-primary">
        <i class="fas fa-map-marker-alt"></i> Bangalore</span
      >
      <span class="span-text-bold"
        ><i class="fas fa-chevron-circle-down"></i
      ></span>
    </div>
    <div class="cart-content">
      <a class="cart-btn big-screen-crt" (click)="showCart()">cart</a>
    </div>
  </section>
  <!-- menu -->
  <section class="menu">
    <ul>
      <li class="heading">
        <a href="#">menu</a>
      </li>
      <li class="heading"><a href="#">menu</a></li>
      <li class="heading"><a href="#">menu</a></li>
      <li class="heading"><a href="#">menu</a></li>
    </ul>
  </section>
  <div [hidden]="!toggleCart">
    <app-cart [setCart]="true" (unsetCart)="onUnsetCart()"></app-cart>
  </div>
</div>
