
$primary: #ddd;
$dark: #333;
$light: #fff;

.container-fluid {
  padding: 1rem;
}

.location-area {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.cart-btn{
  display: inline-block;
  vertical-align: middle;
  color: #ffffff !important;
  background: #e72b4b;
  padding: 0.5rem 1.3rem;
  border: 1px solid #ffffff;
  border-radius: 0.3rem;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}

.mobile-crt {
  display:none;
}

.big-screen-crt {
  display: block;
}


.menu-icon {
  margin-top: 0.3rem;
  display: none;
}

.logo {
  display: flex;
  justify-content: space-around;
}
.location-info {
  display: flex;
  justify-content: space-around;
}

.cart-content {
  display: flex;
  justify-content: center;
}


// menu styles
.menu ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 0.2rem;
  margin-top: 0.5rem; 
}




.menu a {
  background: #736665;
  display: block;
  padding: 0.8rem;
  color: #eae9db;
  text-transform: uppercase;
  text-align: center;
}


.menu a {
  text-decoration: none;
}

// media query for smaller screens
@media (max-width: 700px) {
  .cart-btn {
    margin-top: 0.5rem;
    
  }

  .mobile-crt {
    display:block;
    padding: 0.3rem 0.9rem 0.3rem;
    margin-top: 0rem !important;
  }

  .big-screen-crt {
    display: none;
  }

  .location-area {
    grid-template-columns: 1fr;
  }

  // hide main menu in smaller device
  .menu {
    display: none;
  }

  .menu-icon {
    display: block;
  }
}