@import "./../styles/crunch-styles.scss";
.cart-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  .checkout-btn {
    display: inline-block;
    vertical-align: middle;
    padding: 0.5rem 1.3rem;
    border: 1px solid #9b9b9b;
    border-radius: 3px;
    color: var(--dark);
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    text-transform: uppercase;
  }

  .checkout-content :hover {
    text-decoration: none;
    background: #028008;
    color: #ffffff;
  }
}
