
.container-fluid {
  padding: 1rem;
}

.crunch-list-secttion {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  grid-gap: 0.5rem;
}

// media query: list on smaller screen
@media (max-width: 700px) {
  .crunch-list-secttion {
    grid-template-columns: repeat(2, 1fr); 
  }
}

.crunch-list-secttion img {
  width: 100%;
}

.crunch-box {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.crunch-box-title {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

.crunch-box-desc {
  font-size: 14px;
  color: #727272;
  padding: 0.3rem;
  line-height: 1.2;
  white-space: normal;
  min-height: 31px;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.crunch-weight {
  display: flex;
  justify-content: center;
  .list-weight-input {
    width: 30%;
  }
  .fa-minus-square {
    cursor: pointer;
  }
  .fa-plus-square {
    cursor: pointer;
  }
}
@media (max-width: 700px) {
  .crunch-weight {
    flex-direction: column;
  }
}

.crunch-box-ecom-section {
  display: flex;
  justify-content:  space-between;
  
  padding: 0.5rem;
  .rate {
    font-size: 18px;
    color: #028008;
    font-weight: 600;
    line-height: 2;
  }

  .add-to-cart{
    font-size: 14px;
    text-transform: uppercase;
    color: #028008;
    border: 1px solid #088000;
    border-radius: 2px;
    background: #fff;
    padding: 5px 10px;
    cursor: pointer;
    font-weight: 600;
  }

  .add-to-cart:hover{
    color: #fff;
    border: 1px solid #088000;
    background: #028008;
  }
}

@media (max-width: 700px) {
  .crunch-box-ecom-section{
    flex-direction: column;
  }
}

