<div class="container-fluid">
  <section class="crunch-list-secttion">
    <div
      class="crunch-box cursor-poniter"
      *ngFor="let crunch of crunchList; let i = index"
    >
      <img
        class="crunch-box-img"
        src="https://source.unsplash.com/random/300x200"
        alt=""
        (click)="detailsView(crunch)"
      />
      <h5 class="crunch-box-title" (click)="detailsView(crunch)">
        {{ crunch.name }}
      </h5>
      <p class="span-text">{{ crunch.desc }}</p>
      <div class="crunch-weight">
        <span>weight</span>
        <div class="text-center">
          <i
            class="fas fa-minus-square cursor-poniter ml-2"
            (click)="updateWeight($event, crunch, 'minus')"
            [ngClass]="{ disabled: crunch.weight <= crunch.baseWeight }"
          ></i>
          <span class="ml-2" style="display: inline-block;">{{
            crunch.weight
          }}</span>
          <i
            class="fas fa-plus-square cursor-poniter ml-2 mr-2"
            (click)="updateWeight($event, crunch, 'plus')"
          ></i>
        </div>
        <span>grams</span>
      </div>
      <div class="crunch-box-ecom-section">
        <div class="rate">
          <i class="fas fa-rupee-sign"></i> {{ crunch.price }}
        </div>
        <div class="crt-section">
          <button
            *ngIf="!crunch.cart"
            class="primary-btn addCartBtn-home"
            (click)="addToCart($event, crunch)"
          >
            Add to cart
          </button>
          <button
            *ngIf="crunch.cart"
            class="primary-btn addCartBtn-home"
            (click)="removeFromCart($event, crunch)"
          >
            Remove from cart
          </button>
        </div>
      </div>
    </div>
  </section>
</div>
