<div class="container-fluid">

  <div class="summary">
    <div class="order-summary">
      <!-- <div class="crunch-box ml-2 mr-2">
        <div class="cart-list-container">
          <div class="row cart-item" *ngFor="let item of carts$; let i = index">
            <div class="col-md-9">
              <div class="pb-4">{{ item.name }}</div>
              <div class="pb-2">
                <span class="pr-4">{{ item.weight }}</span>
                <span>{{ item.price }}</span>
              </div>
            </div>
            <div class="col-md-3">
              <div class="item-close pb-4 text-right">
                <i class="fas fa-close"></i>
              </div>
              <div class="weight-cacl pb-2 text-right">
                <span>Hello</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="sub">
        <button class="primary-btn pay-btn">Pay online</button>
        <button class="primary-btn pay-btn">Cash On Delivery</button>
      </div> -->
      <div class="crunch-box ml-2 mr-2">
        <h4 class="carts-length heading text-center">Order summary</h4>
        <div class="cart-list-container">
          <div class="row cart-item" *ngFor="let item of carts$; let i = index">
            <div class="col-md-8 col-sm-8 col-xs-8">
              <label class="pb-3">{{ item.name }}</label>
              <div class="pb-2">
                <span class="pr-4">
                  <label>Weight:</label> {{ item.weight }} grams
                </span>
                <span class="cart-rate">
                  <label>Price: <i class="fas fa-rupee-sign"></i></label>
                  {{ item.price }}
                </span>
              </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
              <div class="item-close pb-3 text-right">
                <i class="fas fa-close"></i>
              </div>
              <div class="weight-cacl pb-2 text-right pt-2">
                <i class="fas fa-minus-square cursor-pointer"></i>
                <span> 50 grams </span>
                <i class="fas fa-plus-square cursor-pointer"></i>
              </div>
            </div>
          </div>
          <div class="row p-3">
            <div class="col-md-5">
              <span class="rate">
                <label>Total: <i class="fas fa-rupee-sign"></i></label>
                {{ totalPrice }}
              </span>
              <div>
                <span>
                  <label>Delivery Charges: <i class="fas fa-rupee-sign"></i></label>
                  {{ deliveryCharge }}
                </span>
              </div>
            </div>
            <div class="col-md-7 pt-3">
              <div class="sub">
                <button class="primary-btn pay-btn">Pay online</button>
                <button class="primary-btn pay-btn">Cash On Delivery</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="order-steps">
      <ul class="order-step-ul">
        <li>
          <h5 class="heading active">Address</h5>
          <div class="active">|</div>
          <div class="active">|</div>
          <div class="active">|</div>
          <div class="active">|</div>
          <div class="active">|</div>
        </li>
        <li>
          <h5 class="heading active">Shipment</h5>
          <div>|</div>
          <div>|</div>
          <div>|</div>
          <div>|</div>
          <div>|</div>
        </li>
        <li>
          <h5 class="heading">Payment</h5>
        </li>
      </ul>
    </div>
  </div>
</div>