<div class="container-fluid">

  <div class="payment-info">
    <div class="group-field-container">
      <input class="form-control group-field" type="text" placeholder="First name">
      <input class="form-control group-field" type="text" placeholder="Last name">
    </div>
    <div class="single-field-container">
      <input class="form-control address-field" type="text" placeholder="Address line 1">
    </div>
    <div class="single-field-container">
      <input class="form-control" type="text" placeholder="Address line 1">
    </div>
    <div class="group-field-container">
      <input class="form-control group-field" type="text" placeholder="City">
      <input class="form-control group-field" type="text" placeholder="State">
    </div>
    <div class="group-field-container">
      <input class="form-control group-field" type="text" placeholder="Zip">
      <input class="form-control group-field" type="text" placeholder="Country">
    </div>
    <div class="sub">
      <button class="primary-btn pay-btn" (click)="redirectToPayment()">Pay online</button>
      <button class="primary-btn pay-btn">Cash On Delivery</button>
    </div>
  </div>
</div>