/* Styles.scss is useful in writing global styles or importing other styles */

/* Modules styles */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~@fortawesome/fontawesome-free/css/all.css";

/* Local styles */
@import "./app/styles/common.scss";

// color pallet
//#910135
//#e72b4b
//#736665
//#e67534
//#eae9db

// logo
.logo-cuctom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  cursor: pointer;

  .logo-front{
    color: #736665;
  }
  .logo-color {
    color: #e72b4b;
  }
}

// typography

// general heading
.heading {
  text-transform: uppercase;
  font-weight: 600;
  color: #736665;
}

// span
.span-text {
  padding: 0 1rem;
  font-size: 14px;
  color: #727272;
  padding: 0.3rem;
  line-height: 1.2;
  white-space: normal;
  min-height: 31px;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

// span bolder
.span-text-bold {
  padding-top: 0.5rem;
  font-size: 15px;
  font-weight: 600;
}

// span primary
.span-primary {
  color: #e72b4b;
}

// Buttons

// primary button
.primary-btn {
  font-size: 14px;
  text-transform: uppercase;
  color: #e67534;
  border: 1px solid #e67534;
  border-radius: 2px;
  background: #fff;
  padding: 5px 10px;
  cursor: pointer;
  font-weight: 600;
}

.primary-btn:hover {
  color: #fff;
  border: 1px solid #e67534;
  background: #e67534;
}

// secondary button

.secondary-btn {
  font-size: 14px;
  text-transform: uppercase;
  color: #e01930;
  border: 1px solid #e01930;
  border-radius: 2px;
  background: #fff;
  padding: 5px 10px;
  cursor: pointer;
  font-weight: 600;
}

.secondary-btn:hover {
  color: #fff;
  border: 1px solid #e01930;
  background: #e01930;
}
